body.page-annuaire {
  h2.page-header{
    &:before{
      .glyphicon();
      content: "\e82f";
    } 
  }
  #views-exposed-form-structures-list-structures{
    
    padding: 20px;
    label{
      color: @violet-mda;
    }
    button{
      background-color: @violet-mda;
      text-transform: uppercase;
      margin-top: 26px;
      color:white;
    }
  }
  table.views-table{
    margin-top: 33px;
    th{
      background-color: @violet-mda;
      color: white;
      border: 2px solid white;
      a{
        color: white !important;
      }
    }
    tr.odd{
      background-color: @gray-ultra-light;
    }
    tr.even{
      background-color: @gray-lighter;
    }
    td{
      border: 2px solid white;
      &.views-field-title a{
        font-weight: bold;
        color: @gray-base;
      }
    }
  }
  /* parents ***/
  &.domain-parents-mda34-org{
    #views-exposed-form-structures-list-structures{
      background-color: @gray-ultra-light;
      padding: 20px;
      label{
        color: @green-mda;
      }
      button{
        background-color: @green-mda;
      }

    }
    table.views-table {
      th {
        background-color: @green-mda;
      }
    }
  }
}
/* node *******************************************************************/

body.domain-reseau-pro-mda34-org {
	#block-system-main .field.field-name-field-website a {
	  color: white;
	}
}

body.node-type-structure{


  .group-practical-infos{
    float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      padding :10px;
      font-size:0.9em;
      

  }
  
  .sharethis-buttons{
    min-width: 240px;
    margin: 1em 0;
  }
  

.field.field-name-field-mission .field-item
{
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px;
    margin-bottom:1.5em;
    font-weight : bold;
    font-size:0.90em;
}

.group-term.field-group-div
{
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px;
    margin-bottom:1.5em;
    font-size:0.90em;
}

.field.field-name-field-coordinates
{
 margin:1em;

}

}
