body.page-annuaire {
  h2.page-header{
    &:before{
      .glyphicon();
      content: "\e82f";
    } 
  }
  #views-exposed-form-structures-list-structures{
    background-color: @gray-ultra-light;
    padding: 20px;
    label{
      color: @violet-mda;
    }
    button{
      background-color: @violet-mda;
      text-transform: uppercase;
      margin-top: 26px;
    }
  }
  table.views-table{
    margin-top: 33px;
    th{
      background-color: @violet-mda;
      color: white;
      border: 2px solid white;
      a{
        color: white !important;
      }
    }
    tr.odd{
      background-color: @gray-ultra-light;
    }
    tr.even{
      background-color: @gray-lighter;
    }
    td{
      border: 2px solid white;
      &.views-field-title a{
        font-weight: bold;
        color: @gray-base;
      }
    }
  }
  /* parents ***/
  &.domain-parents-mda34-org{
    #views-exposed-form-structures-list-structures{
      background-color: @gray-ultra-light;
      padding: 20px;
      label{
        color: @green-mda;
      }
      button{
        background-color: @green-mda;
      }

    }
    table.views-table {
      th {
        background-color: @green-mda;
      }
    }
  }
}
/* node *******************************************************************/

body.domain-reseau-pro-mda34-org {
	#block-system-main .field.field-name-field-website a {
	  color: white;
	}
}

body.node-type-structure{


  .group-practical-infos{
    float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      

  }
  
  .sharethis-buttons{
    float: right;
    min-width: 240px;
    margin-bottom: 20px;
  }
  
  .field-name-field-structure-type:after,
  .field-name-field-competence-fields,
  .field-name-body{
    clear: left;
  }
  .field-name-body{
    clear: left;
  }
  .field-label, .field-name-field-public .field-items .field-item,
  .field-name-field-action-types .field-items .field-item{
    float: left;
    margin-right: 10px;
  }
  .field-name-field-coordinates{
    clear: both;
  }
}
