body.page-annuaire {

.view-id-annuaire_filter .view-content {
    background-color: #fff;
    padding: 0;
}


  h2.page-header{
    &:before{
      .glyphicon();
      content: "\e82f";
    } 
  }
  #views-exposed-form-structures-list-structures{



    label{
      color: @violet-mda;
    }
    button{
      background-color: @violet-mda;
      text-transform: uppercase;
      margin-top: 26px;
      color:white;
    }
  }
  table.views-table{
    margin-top: 33px;
    th{
      background-color: @violet-mda;
      color: white;
      border: 2px solid white;
      a{
        color: white !important;
      }
    }
    tr.odd{
      background-color: @gray-ultra-light;
    }
    tr.even{
      background-color: @gray-lighter;
    }
    td{
      border: 2px solid white;
      &.views-field-title a{
        font-weight: bold;
        color: @gray-base;
      }
    }
  }
  
/* philado ***/
  &.domain-philado-mda34-org{
    #views-exposed-form-structures-list-structures{
      label{
        color: #286fc9;
      }
      button{
        background-color: #286fc9;
      }

    }
     }
  
  
  
  
  /* parents ***/
  &.domain-parents-mda34-org{
    #views-exposed-form-structures-list-structures{
      label{
        color: @green-mda;
      }
      button{
        background-color: @green-mda;
      }

    }
    
 .views-exposed-form .form-item {
    margin-top: 0;
    margin-bottom: 0em;
    float: left;
    @media (max-width:@screen-xs)
		{
		margin-bottom:0.5em;
		
		}
}


#edit-title-wrapper,.views-exposed-widget.views-submit-button {
 @media (max-width:@screen-xs)
		{
		display:none;
		
		}
		}


#views-exposed-form-structures-list-structures label {
    font-weight: normal;
}

#edit-field-secteur-geo-value-all a.active,
#edit-field-secteur-geo-value-all a{
    display:none;
}
	
	

	#edit-field-secteur-geo-value-0 a.active,
	#edit-field-secteur-geo-value-1 a.active,
	#edit-field-secteur-geo-value-2 a.active {
    display: block;
    color: white;
    background-color: #32903F;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0.5em 0 0;
    border:1px solid #CCC;
}
	

	#edit-field-secteur-geo-value-0 a ,
	#edit-field-secteur-geo-value-1 a ,
	#edit-field-secteur-geo-value-2 a
	 {
    display: block;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   margin: 0 0.5em 0 0;
        border:1px solid #CCC;
         background-color: none;
}


	#edit-field-secteur-geo-value-0 a:hover ,
	#edit-field-secteur-geo-value-1 a:hover ,
	#edit-field-secteur-geo-value-2 a:hover
	 {
    display: block;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   margin: 0 0.5em 0 0;
        border:1px solid #32903F;
         background-color: none;
}


    
    
    
    
    table.views-table {
      th {
        background-color: @green-mda;
      }
    }
  }
}
/* node *******************************************************************/

body.domain-reseau-pro-mda34-org {
	#block-system-main .field.field-name-field-website a {
	  color: white;
	}
	
.views-exposed-form .form-item {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
}
#edit-title-wrapper,.views-exposed-widget.views-submit-button {
 @media (max-width:@screen-xs)
		{
		display:none;
		
		}
		}


#views-exposed-form-structures-list-structures label {
    font-weight: normal;
}

#edit-field-secteur-geo-value-all a.active,
#edit-field-secteur-geo-value-all a{
    display:none;
}
	
	 .views-exposed-form .form-item {
    margin-top: 0;
    margin-bottom: 0em;
    float: left;
    @media (max-width:@screen-xs)
		{
		margin-bottom:0.5em;
		
		}
}

	#edit-field-secteur-geo-value-0 a.active,
	#edit-field-secteur-geo-value-1 a.active,
	#edit-field-secteur-geo-value-2 a.active {
    display: block;
    color: white;
    background-color: #575095;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0.5em 0 0;
    border:1px solid #CCC;
}
	

	#edit-field-secteur-geo-value-0 a ,
	#edit-field-secteur-geo-value-1 a ,
	#edit-field-secteur-geo-value-2 a
	 {
    display: block;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   margin: 0 0.5em 0 0;
        border:1px solid #CCC;
         background-color: none;
}


	#edit-field-secteur-geo-value-0 a:hover ,
	#edit-field-secteur-geo-value-1 a:hover ,
	#edit-field-secteur-geo-value-2 a:hover
	 {
    display: block;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   margin: 0 0.5em 0 0;
        border:1px solid #575095;
         background-color: none;
}


	
	
}

body.node-type-structure{


.field-name-field-logo img{
float:left;
max-width : 47%;
  }


  .group-practical-infos{
    float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      padding-top :1.25em;
      padding-bottom :1.25em;
      

  }
  
  .sharethis-buttons{
    min-width: 240px;
    margin: 1em 0;
  }
  

.field.field-name-field-mission .field-item
{
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px;
    margin-bottom:1.5em;
    font-weight : bold;

}

.group-term.field-group-div
{
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px;
    margin-bottom:1.5em;
}

.field.field-name-field-coordinates
{
 margin:1em 0;

}

.field.field-name-field-scald-video.field-type-atom-reference.field-label-hidden {
    margin-bottom: 1em;
}

.field.field-name-field-website.field-type-link-field.field-label-hidden {
    float: right;
}
}
