/* Parents ********************************************************************/
body.domain-parents-mda34-org{
  h2.page-header{
    color: @green-mda;
  }
  #block-system-main{
    a{
      color: @green-mda;
      &.btn-success{
        color: white;
        margin-top: 10px;
      }
    }

    ul li{
      background: url(../images/arrow-green.png) no-repeat 0 50%;
    }
    ul.pagination li{
      background-image: none;
    }
    .field-name-field-event-website a{
      background-color: @green-mda;
      color: white;
      margin: 10px 0;
      border: 0;
    }
  }
}
/* Ados ***********************************************************************/
body.domain-ados-mda34-org{
  h2.page-header{
    color: @orange-mda;
  }
  #block-system-main {
    a{
      color: @orange-mda;
      &.btn-success{
        color: white;
        margin-top: 10px;
      }
    }
    ul li{
      background: url(../images/arrow-orange.png) no-repeat 0 50%;
    }
    ul.pagination li{
      background-image: none;
    }
    .field-name-field-event-website a{
      background-color: @orange-mda;
      color: white;
      margin: 10px 0;
      border: 0;
    }
  }
}
/* Pros ***********************************************************************/
body.domain-reseau-pro-mda34-org{
  h2.page-header{
    color: @violet-mda;
  }
  
	#block-system-main{
    a{
      color: @violet-mda;
      &.btn-success{
        color: white;
        margin-top: 10px;
      }
    }
    ul li{
      background: url(../images/arrow-violet.png) no-repeat 0 50%;
    }
    ul.pagination li{
      background-image: none;
    }
    .field-name-field-event-website a{
      background-color: @violet-mda;
      color: white;
      margin: 10px 0;
      border: 0;
    }
  }
  .btn-success{
    background-color: @violet-mda;
    color: white;
    border: 0;
    margin-top: 5px;
  }
}

.domain-reseau-pro-mda34-org h3{
  text-transform: none;
}

.group-link-resources.field-group-div{
  font-size:0.9em;
  margin-bottom:1em;
}


/* Radio ***********************************************************************/
body.domain-radio-mda34-org #block-system-main{
  h2.page-header{
    color: @blue-mda;
  }
  #block-system-main {
    a{
      color: @blue-mda;
      &.btn-success{
        color: white;
        margin-top: 10px;
      }
    }
    ul li{
      background: url(../images/arrow-blue.png) no-repeat 0 50%;
    }
    ul.pagination li{
      background-image: none;
    }
    .field-name-field-event-website a{
      background-color: @blue-mda;
      color: white;
      margin: 10px 0;
      border: 0;
    }
  }
  .btn-success{
    background-color: @blue-mda;
    color: white;
    border: 0;
  }
}
/* Pas de flèches en bas de page ************************************************/
body.no-front #block-system-main ul.pagination li{
  background-image: none;
}

