/* Parents ********************************************************************/
body.page-faq.domain-parents-mda34-org{
  h2.page-header{
    color: @green-mda;
  }
}
/* Ados ***********************************************************************/
body.domain-ados-mda34-org{
  h2.page-header{
    color: @orange-mda;
  }
}
/* Pros ***********************************************************************/
body.domain-reseau-pro-mda34-org{
  h2.page-header{
    color: @violet-mda;
  }
}
/* Radio ***********************************************************************/
body.domain-radio-mda34-org{
  h2.page-header{
    color: @blue-mda;
  }
}

