.page-agenda h2.page-header:before, .node-type-event h2.page-header:before{
  .glyphicon();
  content: "\e807";
}
.page-formations h2.page-header:before{
  .glyphicon();
  content: "\e806";
}
/* cas de l'icône de doc (.icon-doc) que l'on est pas arrivé à enlever */
.page-agenda .view-events.icon-doc:before{
  content: '';
}


div.node-event {







	.field.field-name-field-coordinates{
		  margin-top: 1.5em;
		  clear:both;
		}

  .group-event-infos-1{
    border-bottom: 1px solid @gray-lighter;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .field-name-field-event-type, .field-name-field-event-dates{
      float: left;
      margin-right: 10px;
    }
    .field-name-field-public{
      clear: left;
      .field-label, .field-item{
        float: left;
        margin-right: 10px;
      }
    }
    .field-name-field-address{
      clear: left;
      .field-item > div{
        float: left;
        padding-right: 5px;
        div.thoroughfare:after{
          content: " -";
        }
        span.locality:after{
          content: " -";
        }
      }
    }
    
    .sharethis-buttons{
      float: right;
      min-width: 280px;
    }
  }

}



.node-type-event.domain-parents-mda34-org {

.calendar {
   margin: 0 1.25em 1.25em;
   width: 100px;
   height: 100px;
    float:right;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   position: relative;
   background: #FFF;
   -webkit-box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
}

.header {
   height: 35px;
   background: #A3D65C;
   -webkit-border-top-right-radius: 12px;
   -moz-border-radius-topright: 12px;
   border-top-right-radius: 12px;
   -webkit-border-top-left-radius: 12px;
   -moz-border-radius-topleft: 12px;
   border-top-left-radius: 12px;
   width: 100%;
   text-align: center;
   font-size: 14px;
   font-weight:bold;
   color: #FFF;
   line-height: 35px
}
 
.num-day {
   height: 40px;
   font-size: 2.35em;
   color: #333;
   text-align: center
}

.mois {
    text-align: center;
    font-size: 1.25em;
}

.field-name-field-event-image {
    float: left;
    margin: 0em 1.5em 0.5em 0em;
}

.entete{
    margin: 0em 0em 1.5em;
}



}


.node-type-event.domain-ados-mda34-org {

.calendar {
   margin: 0 1.25em 1.25em;
   width: 100px;
   height: 100px;
   float:right;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   position: relative;
   background: #FFF;
   -webkit-box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
}

.header {
   height: 35px;
   background: #F78C26;
   -webkit-border-top-right-radius: 12px;
   -moz-border-radius-topright: 12px;
   border-top-right-radius: 12px;
   -webkit-border-top-left-radius: 12px;
   -moz-border-radius-topleft: 12px;
   border-top-left-radius: 12px;
   width: 100%;
   text-align: center;
   font-size: 14px;
   font-weight:bold;
   color: #FFF;
   line-height: 35px
}
 
.num-day {
   height: 40px;
   font-size: 2.35em;
   color: #333;
   text-align: center
}

.mois {
    text-align: center;
    font-size: 1.25em;
}
.field-name-field-event-image {
    float: left;
    margin: 0em 1.5em 0.5em 0em;
}

.entete{
    margin: 0em 0em 1.5em;
}

}



.node-type-event.domain-reseau-pro-mda34-org {

.calendar {
   margin: 0 1.25em 1.25em;
   width: 100px;
   height: 100px;
   float:right;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   position: relative;
   background: #FFF;
   -webkit-box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
box-shadow: 5px 5px 5px 0px rgba(176,174,176,1);
}

.header {
   height: 35px;
   background: #575095;
   -webkit-border-top-right-radius: 12px;
   -moz-border-radius-topright: 12px;
   border-top-right-radius: 12px;
   -webkit-border-top-left-radius: 12px;
   -moz-border-radius-topleft: 12px;
   border-top-left-radius: 12px;
   width: 100%;
   text-align: center;
   font-size: 14px;
   font-weight:bold;
   color: #FFF;
   line-height: 35px
}
 
.num-day {
   height: 40px;
   font-size: 2.35em;
   color: #333;
   text-align: center
}

.mois {
    text-align: center;
    font-size: 1.25em;
}
.field-name-field-event-image {
    float: left;
    margin: 0em 1.5em 0.5em 0em;
}

.entete{
    margin: 0em 0em 1.5em;
}

}



