#isotope-options ul#filters{
  .no-padding-margin();
  & li{
    list-style: none;
    float: left;
    display: block;
    background-color: @gray-lighter;
    padding: 10px 16px;
    margin-right: 10px;
    & a{
      color: @gray-base;
      text-transform: uppercase;
    }
  }
}
