.region-footer{
  margin: 0 auto;
  @media @wide {
    width: 182px;
  }
  @media (max-width: @container-desktop){
    width: 320px;
  }
  
}
/* social icons ***************************************************************/
a.icon-social{
  font-size: 2em;
  &:before{
    color: @gray-base;
    margin: 0 20px 0 0;
    padding: 0;
    width: 30px;
    overflow: hidden;
  }
  &.icon-gplus:before{/* last has no right margin */
    margin: 0;
  }
  &:hover:before{
    color: @blue-mda;
  }
  @media (max-width: @container-desktop){
    &:before{
      font-size: 2em;
      margin: 0 40px 0 0;
      width: auto;
    }
  }
}
