#main-footer{
  background: url(../images/bg_header.jpg) no-repeat 50% 0; 
}
.footer-center{
  margin: 0 auto;
  @media (min-width: @container-desktop) {
    width: 210px;
  }
  @media (max-width: @container-desktop){
    width: auto;
    div > section > div > div{
      text-align: center;
    }
  }
  .logo-footer{
    display: block;
    text-align: center;
  }
  
}
/* social icons ***************************************************************/
a.icon-social{
  font-size: 2em;
  &:before{
    color: @gray-base;
    margin: 0 20px 0 0;
    padding: 0;
    width: 30px;
    overflow: hidden;
  }
  &.icon-gplus:before{/* last has no right margin */
    margin: 0;
  }
  &:hover:before{
    color: @blue-mda;
  }
  @media (max-width: @container-desktop){
    &:before{
      font-size: 2em;
      margin: 0 34px 0 0;
      width: auto;
    }
  }
}
