#zoom .block.block-views{
  border: 0;
  margin-bottom: 20px;
}
.no-content{
  text-indent: -9000px;
  display: block;
}
img{
  max-width: 100%;
}
h2,h3,h4{
  font-family: @rockwellFamily;
  text-transform: uppercase;
}
p{
  font-family: arial;
}

/* Couleurs *******************************************************************/
.orange {color: @orange-mda;}  /* Ados */
.black  {color: @gray-base;}   /* */
.green  {color: @green-mda;}   /* Parents*/
.violet {color: @violet-mda;}  /* Pros */
.blue   {color: @blue-mda;}    /* philado */
.cyan   {color: @cyan-mda;}    /* radio */

/* onglets ********************************************************************/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: @gray-lighter;
}
