body{
  background: url(../images/bg_header.jpg) no-repeat 50% 0;
}
.navbar-header{
  float: none;
  .navbar-brand{
    padding-right:0;
  }
  h1.navbar-brand{
    margin-bottom: 0;
    margin-top: 10px;
    float: none;
    a{
      font-family: @baselineFontFamily;
      color: @brand-baseline;
      font-size: @font-size-h1;	
      white-space: nowrap;
      &:hover {
        text-decoration: none;
      }
      @media @tablet {
        float:left;
      }
      @media @wide {
        float:right;
      }
      
    }
  }
  
  .slogan{
    font-family: @rockwellFamily;
    width: 162px;
    border-top: 1px solid black;
    margin-left: 193px;
    text-align: center;
    @media (max-width: @screen-sm-min) {
      text-align: left;
      margin-left: 120px;
      width: 120px;
    }
  }
}
