/* Top content links */
body.front .block-kcore{
  .block-wrapper-custom a{
    display: block;
    padding: 12px 0 15px 70px;
  }
  .block-wrapper-custom h2{
    text-transform: none;
  }
  &#block-kcore-mda-shortcut-ados .block-wrapper-custom{
    background: transparent url(../images/button_fleche_ados.png) no-repeat 98% 50%;
    a{
      border-bottom : 1px solid @orange-mda;
      background: transparent url(../images/button_maison_ados.png) no-repeat 0 0;
      &:hover h2, &:hover p{
        color: @orange-mda;
      }
    }
    @media screen and (max-width:@screen-lg) and (min-width:@screen-sm){
      background-image: none;
    }
  }
  &#block-kcore-mda-shortcut-parents .block-wrapper-custom{
    background: transparent url(../images/button_fleche_parents.png) no-repeat 98% 50%;
    a{
      border-bottom : 1px solid @green-mda;
      background: transparent url(../images/button_maison_parents.png) no-repeat 0 0;
      &:hover h2, &:hover p{
        color: @green-mda;
      }
    }
    @media screen and (max-width:@screen-lg) and (min-width:@screen-sm){
      background-image: none;
    }
  }
  &#block-kcore-mda-shortcut-pros .block-wrapper-custom{
    background: transparent url(../images/button_fleche_pros.png) no-repeat 98% 50%;
    a{
      border-bottom : 1px solid @violet-mda;
      background: transparent url(../images/button_maison_pros.png) no-repeat 0 0;
      &:hover h2, &:hover p{
        color: @violet-mda;
      }
    }
    @media screen and (max-width:@screen-lg) and (min-width:@screen-sm){
      background-image: none;
    }
  }
  a{
    h2{
      font-family: @rockwellFamily;
      color: @gray-base;
      margin: 0;
      padding: 0;
    }
    p{
      font-family: arial;
      color: @gray-base;
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    &:hover{
      text-decoration: none;
    }
  }
  
}


#block-views-events-block-front-trainings  {
      padding: 0;
    }
    
    

/* Profil's title *************************************************************/
h2.line-right-left{
  font-size: 1.5em;
  display:none;
  @media screen and (max-width:@screen-lg) and (min-width:@screen-sm){
     display: block;
    }
  }
  
  
/* Caroussel portail   ********************************************************/
body.front .zoom {
  border-bottom: 0;
  padding-bottom: 0;
  @media (max-width:@screen-xs){
    margin-top: 0px;
  }
  
  .carousel{
		@media (max-width:@screen-xs){
		display:none;
		}
	}

  .block.block-views{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .group-all-diapo .container{
    position: relative;
    .group-link-theme{
      width: 550px;
      height: 170px;
      position: absolute;
      bottom : 0;
      left: 0;
      background-color: @gray-base;
      background-color: rgba(0, 0, 0, 0.5);
      h3 a{
        color: white;
        padding: 10px 20px 10px 20px;
        display : block;
        font-size: 1.2em;
        text-transform: none;
      }
      h4{
        display: inline-block;
        padding: 5px 25px 5px 25px;
        color: white;
        &.orange{
          background-color: @orange-mda;
        }
        &.violet{
          background-color: @violet-mda;
        }
        &.green{
          background-color: @green-mda;
        }
        &.blue{
          background-color: @blue-mda;
        }
        &:before{
          color: white;
        }
      }
      .field-name-field-thematique-diapo{
        background-color: @orange-mda;
        padding: 8px 8px 8px 25px;
        color: white;
        text-transform: uppercase;
        font-size: 1.2em;
      }
    }
  }
  
}
/* puces de navigation ***/
body.front{
  .carousel-indicators li{
    border: 2px solid @gray-base;
    &.active{
      @media screen and (min-width: @screen-sm){
        background-color: @gray-base;
      }
    }
  }
}
/* Caroussels autre que le portail ********************************************/
body.front .highlighted.jumbotron{
  padding:0;
  background-color: transparent;
}
body.front:not(.domain-www-mda34-org) .zoom{
  .group-all-diapo .container .group-link-theme > div{
    padding-left: 80px;
    h3 a{
      padding-left: 0;
    }
  }
}
/* Middle background image ****************************************************/
body.domain-www-mda34-org #home-main-container-wrapper{
  background: url(../images/bg_header.jpg) no-repeat 50% 0; /**/
  #page-header{
    padding: 25px 0;
  }
}

/* Home news and events on 2 cols *********************************************/
#block-views-news-block-actus{

  float: left;
  width: 47.9167%;
  margin-right: 1.04167%;
  @media screen and (max-width:@screen-sm){
      width: 97.916666666666666666666666666667%;
      margin-right: 0;
      float: none;
    }
}
#block-views-events-block-front-events{
  float: left;
  width: 50%;
  margin-right: 0;
  @media screen and (max-width:@screen-sm){
    width: 97.916666666666666666666666666667%;
    margin-right: 0;
    float: none;
  }

}
#block-views-events-block-front-events{
  margin-right: 0;
  padding-left: 0;
  margin-left: 1.04167%;
}
/* ajustement bloc droite pro*********************************************/ 
body.front .block.block-views h3 {
  border-bottom: 0px solid #cdcdcd;
}


.view-display-id-block_front_parents {
  margin: 2em 0 0 0;
}


/* boite ados *********************************************/ 
.front #block-boxes-boite-ados {
    padding: 230px 15px 15px;
	background: transparent url("../images/Illustration_Ados.jpg") no-repeat scroll 0% 0%;
	border: 1px solid #f78c26;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	
	.block-title{
	 color: #F78C26;
	 text-transform:none;
	 text-align:center;
	}
	
	.btn.btn-primary
	{
	color: #FFF;
	background-color: #F78C26;
	border-color: #F78C26;
	font-weight:bold;
	text-transform:uppercase;

	}
	
	.btn-primary:hover {
    color: #FFF;
    background-color: #FFF;
    border-color: #F78C26;
    color: #F78C26;
    }
    
    li:before {
    content: "• ";
    color: #F78C26; /* or whatever color you prefer */
    vertical-align: middle;
    font-size:20px;
     margin: 8px 0 0 -12px;   
     }
     
     li{
 list-style:none;
    }
     li a:link, li a:visited {
 color:black;
 text-decoration: underline;
    }
    
       li a:hover {
 color:#F78C26;
 text-decoration: underline;
    }
}


/* boite parents *********************************************/ 

.front #block-boxes-boite-parents {
    padding: 230px 15px 15px;
	background: transparent url("../images/espace-ado.jpg") no-repeat scroll 0% 0%;
	border: 1px solid #32903F;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	
	.block-title{
	 color: #32903F;
	 text-transform:none;
	 text-align:center;
	}
	
	.btn.btn-primary
	{
	color: #FFF;
	background-color: #32903F;
	border-color: #32903F;
	font-weight:bold;
	text-transform:uppercase;

	}
	
	.btn-primary:hover {
    color: #FFF;
    background-color: #FFF;
    border-color: #32903F;
    color: #32903F;
    }
    
    li:before {
    content: "• ";
    color: #32903F; /* or whatever color you prefer */
    vertical-align: middle;
    font-size:20px;
     margin: 8px 0 0 -12px;   
     }
     
     li{
 list-style:none;
    }
     li a:link, li a:visited {
 color:black;
 text-decoration: underline;
    }
    
       li a:hover {
 color:#32903F;
 text-decoration: underline;
    }
}

/* boite pro *********************************************/


.front #block-boxes-boite-pro {
    padding: 230px 15px 15px;
	background: transparent url("../images/espace-pro.jpg") no-repeat scroll 0% 0%;
	border: 1px solid #575095;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	
	.block-title{
	 color: #575095;
	 text-transform:none;
	 text-align:center;
	}
	
	.btn.btn-primary
	{
	color: #FFF;
	background-color: #575095;
	border-color: #575095;
	font-weight:bold;
	text-transform:uppercase;

	}
	
	.btn-primary:hover {
    color: #FFF;
    background-color: #FFF;
    border-color: #575095;
    color: #575095;
    }
    
    li:before {
    content: "• ";
    color: #575095; /* or whatever color you prefer */
    vertical-align: middle;
    font-size:20px;
     margin: 8px 0 0 -12px;   
     }
     
     li{
 list-style:none;
    }
     li a:link, li a:visited {
 color:black;
 text-decoration: underline;
    }
    
       li a:hover {
 color:#575095;
 text-decoration: underline;
    }
}


