
/* Liens haut isotope base + parents ******************************************/
#isotope-options ul#filters{
  .no-padding-margin();
  background-color: white;
  li{
    list-style: none;
    float: left;
    display: block;
    
    margin-right: 10px;
    margin-bottom: 8px;
    a{
      background-color: #F1F1F1;
      display: block;
      color: @gray-base;
      text-transform: uppercase;
      padding: 8px 14px 8px 14px;
      text-align: center;
      text-decoration: none;
          -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
      &:after{
        content: '';
        background-image: none;
        margin:0;
      }
      &.selected{
        background-color: @green-mda;
        color: white;
      }
    }
  }
}

/* Largeur totale prise par les réponses pour le fond ***********************/
/*.view-display-id-page_faqs > .view-content{
  margin: 0 -1500px;
}*/
body.page-faq {
  h2.page-header{
    &:before{
      .glyphicon();
      content: "\e805";
    } 
  }
  .view-faqs {
    .view-header{
      margin-bottom: 37px;
    }
    > .view-content {
      min-height: 900px;
      
      
      @media (max-width:@screen-xs){
		min-height: 1600px;
    }
      
      
      
      
     
    }
  }
}









/* Eléments isotope base + parents ********************************************/

#isotope-options ul#filters li{
  padding: 0;
  background-image: none;
}
.isotope-element{
  width: 278px;
  background: transparent url(../images/bg_faq_green.png) no-repeat 0 100%;
  height: auto;
  padding-bottom: 17px;
  .views-field-field-faq-category-1{
    padding: 20px 20px 0 20px;
    background-color: white;
    border-left: 1px solid @green-mda;
    border-right: 1px solid @green-mda;
    a{
      color: @green-mda !important;
      font-size: 0.9em;
      font-weight: lighter;
      padding-bottom: 0;
      margin-bottom: 0;
      &:after{
        content: '';
        background-image: none;
      }
    }
  }
  
  .views-field-title{
    border-left: 1px solid @green-mda;
    border-right: 1px solid @green-mda;
    padding: 0px 20px 0 20px;
    background-color:white;
    a{
      color: @gray-base !important;
      font-family: @rockwellFamily;
      font-size: 1.15em;
      &:after{
        content: '';
      }
    }
  }
}



/* faq parents *****/
body.page-faq.domain-parents-mda34-org{
  .view-faqs { 
  .view-header{
		  margin-bottom: 1em;
		}
    > .view-content {
      background: transparent url(../images/fond_faq_parents.png) no-repeat 50% 0;
      -webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
    }
  }
  
     #isotope-options {
    background-color: white;
    padding: 0em 0em 0em;
    }
      
  
  	.views-field-body{
    padding: 0px 0.5em;
    background: white;
    }
  
     .views-field-title{
      color:black;
      font-size: 1.15em;
      border:0;
       padding: 0px 0.5em 0.5em;
      font-weight:700;
      font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
      }
      
      #isotope-container {
      width:92%;
      margin:0 auto;
      }
      
      .isotope-element {
		 width: 320px;
		padding: 1em 0.25em;
		margin: 1.5em 1em 1em;
		background: white;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		@media (max-width:@screen-xs)
		{
		width: 262px;
		margin:1em 0;
		
		}
	  }
}

/******************************************************************/
/* AGENDA *****************************************************************/
/******************************************************************/

/* Agenda Parents *************************************************************/
body.page-agenda.domain-parents-mda34-org {
	 
  .isotope-element {
  width: 275px;
  padding: 0em;
  margin: 0.25em;
  background: white;
  

  }
  
  .dates-custom-wrapper {
	background-color: @green-mda;
	}
  
  
  #isotope-options ul#filters li a.selected {
    background-color:@green-mda;
  }
  
   img {
      width: 275px;
      height: auto;
    }
    .img-title-wrapper, h3{
      width: auto;
    }
    
    .block .img-title-wrapper h3 {
    position: absolute;
    padding: 0;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-weight: 700;
    widows: 100%;
    font-size: 1.5em;
}
	
    
}




/* Agenda pro *****************************************************************/
body.page-agenda.domain-reseau-pro-mda34-org {

  .isotope-element {
  width: 275px;
  padding: 0em;
  margin: 0.25em;
  background: white;
  
	.views-field-field-event-type-1 .field-content {
      color: @violet-mda;
    }
    .dates-custom-wrapper{
      background-color:@violet-mda;
    }
  }
  #isotope-options ul#filters li a.selected {
    background-color:@violet-mda;
  }
  
   img {
      width: 275px;
      height: auto;
    }
    .img-title-wrapper, h3{
      width: auto;
    }
    
    .block .img-title-wrapper h3 {
    position: absolute;
    padding: 0;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-weight: 700;
    widows: 100%;
    font-size: 1.5em;
    }   
}


/* Agenda Ados ****************************************************************/
body.page-agenda.domain-ados-mda34-org{ 

  .isotope-element {
  width: 275px;
  padding: 0em;
  margin: 0.25em;
  background: white;
  
	.views-field-field-event-type-1 .field-content {
      color: @orange-mda;
    }
    .dates-custom-wrapper{
      background-color:@orange-mda;
    }
  }
  #isotope-options ul#filters li a.selected {
    background-color:@orange-mda;
  }
  
   img {
      width: 275px;
      height: auto;
    }
    .img-title-wrapper, h3{
      width: auto;
    }
    
    .block .img-title-wrapper h3 {
    position: absolute;
    padding: 0;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-weight: 700;
    widows: 100%;
    font-size: 1.5em;
    }  

}



/* FAQ Ados *******************************************************************/
body.page-faq.domain-ados-mda34-org.page-faq{

	 #isotope-options ul#filters{
		li{
		  a{
			&.selected{
			  background-color: @orange-mda;
			}
		  }
		}
	  }
	  
	  
	.view-display-id-page_faqs{
    background-color: @orange-mda;
  }
  
  
  	 .view-faqs {
		.view-header{
		  margin-bottom: 1em;
		}
		> .view-content {
		  -webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		}
	  }
	  
	  #isotope-options {
    background-color: white;
    padding: 0em 0em 1em;
}
      
  
  
  
  
  	.views-field-body{
    padding: 0px 0.5em;
    background: white;
    }
  
      .views-field-title{
      color:black;
      font-size: 1.15em;
      border:0;
       padding: 0px 0.5em 0.5em;
      font-weight:700;
      font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
      }
      
      
      #isotope-container {
      width:92%;
      margin:0 auto;
      }
   
      
      
      .isotope-element {
		 width: 320px;
		padding: 1em 0.25em;
		margin: 1em;
		background: white;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		@media (max-width:@screen-xs)
		{
		width: 262px;
		margin:1em 0;
		
		}
	  }
	  
}


/* structure annuaire PARENTS *************************************************************/
body.page-annuaire.domain-parents-mda34-org {


#isotope-options ul#filters {
    padding: 0;
    margin: 0em 0;
    background-color: #fff;
    font-weight:bold;
	}
	

.view-id-annuaire_filter {
	.view-content {
		background-color: white;
	}
}

 .view-filters {
    border: 0px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     background-color: #fff;
    margin-bottom: 1.25em;
    }
 
 
   #isotope-container {
      width:92%;
      margin:0 auto;
      }
      
      .isotope-element {
		 width: 320px;
		padding: 1em;
		margin: 1.5em 1em 1em;
		    background: white;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		@media (max-width:@screen-xs)
		{
		width: 262px;
		margin:1em 0;
		
		}
 
 
	.views-field-field-mission {
    color: #555;

    }
    
    .views-field-title{
    border:0;
    padding: 0 0px;
    margin-bottom:0.25em;
	a {
    color: @green-mda !important;
    font-size:1.15em;
    }
    
    }
  }
 
  #isotope-options ul#filters li a.selected {
    background-color:@green-mda;
    font-weight:bold;
  }
 
 .views-field-field-logo img {
      width: 20%;
    height: auto;
    margin: 0.5em;
    /* display: block; */
    float: right;
    
    @media (max-width:@screen-xs)
		{
	display:none;
		
		}
    }
 
	.view-content
	{
		background-color: #F1F1F1;
		  -webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	} 
 
}

/* structure annuaire PRO*************************************************************/

body.page-annuaire.domain-reseau-pro-mda34-org {

	#isotope-options ul#filters {
    padding: 0;
    margin: 0em 0;
    background-color: #fff;
    font-weight:bold;
    }

	.view-id-annuaire_filter {
			.view-content {
				background-color: white;
			}
		}


	.view-filters {
    border: 0px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     background-color: #fff;
    margin-bottom: 1.25em;
    }



.view-content
{
    background-color: #F1F1F1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}




  #isotope-container {
      width:92%;
      margin:0 auto;
      }
      
      .isotope-element {
		 width: 320px;
		padding: 1em;
		margin: 1.5em 1em 1em;
		    background: white;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		@media (max-width:@screen-xs)
		{
		width: 262px;
		margin:1em 0;
		
		}



    
	.views-field-field-mission {
    color: #555;
    }
    
   .views-field-title{
   border:0;
   padding: 0 0px;
   margin-bottom:0.25em;
		a {
		color: #575095 !important;
		font-size:1.15em;
		}
   }
    
  }
  #isotope-options ul#filters li a.selected {
    background-color:@violet-mda;
  }
  
  .views-field-field-logo img {
      width: 20%;
    height: auto;
    margin: 0.5em;
    /* display: block; */
    float: right;
    
    @media (max-width:@screen-xs)
		{
	display:none;
		
		}
    }

}

/* Eléments isotope pocket film ********************************************/

.page-rubrique-pocket-film-2016-lesfilms

 {
 
 .btn-info {
    color: #fff;
    background-color: #f78c26;
    border-color: #FC810F;
}
 
 h2.page-header:before
{
  .glyphicon();
  content: "\e82e";
}

 .isotope-element {
		 width: 290px;
		padding: 0em;
		margin: 1em;
		    background: white;
		    
		    @media (max-width:@screen-xs)
		{

		margin: 1em 0em;
		
		}
		    
		    
		    

.views-field-title a {
    color: #f78c26!important;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    font-size: 1.15em;
}

    
		    
 .views-field-title {
    border-left: 0px solid #32903f;
    border-right: 0px solid #32903f;
    padding: 0px;
    background-color: #fff;
    font-size: 0.85em;
    text-align:center;
    }	

img
		  {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


		    
}

 #isotope-container {
      width:84%;
      margin:0 auto;
      
      @media (max-width:@screen-xs)
		{
		width: 290px;
		margin:0em;
		
		}
      
      
      }

}

/* Eléments isotope video ********************************************/


.page-multimedia.domain-ados-mda34-org
 {
 
 .btn-info {
    color: #fff;
    background-color: #f78c26;
    border-color: #FC810F;
}
 
 h2.page-header:before
{
  .glyphicon();
  content: "\e82e";
}

 .isotope-element {
		 width: 290px;
		padding: 0em;
		margin: 1em;
		    background: white;
		    
		    @media (max-width:@screen-xs)
		{

		margin: 1em 0em;
		
		}
		    
		    
		    

.views-field-title a {
    color: #f78c26!important;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    font-size: 1.15em;
}

    
		    
 .views-field-title {
    border-left: 0px solid #32903f;
    border-right: 0px solid #32903f;
    padding: 0px;
    background-color: #fff;
    font-size: 0.85em;
    text-align:center;
    }	

img
		  {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


		    
}

 #isotope-container {
      width:84%;
      margin:0 auto;
      
      @media (max-width:@screen-xs)
		{
		width: 290px;
		margin:0em;
		
		}
      
      
      }

}

/* structure annuaire PHILADO*************************************************************/

body.page-annuaire.domain-philado-mda34-org {

#isotope-options ul#filters {
    padding: 0;
    margin: 0em 0;
    background-color: #fff;
    font-weight:bold;

}

.view-id-annuaire_filter {
	.view-content {
		background-color: white;
	}
}


	.view-filters {
    border: 0px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     background-color: #fff;
    margin-bottom: 1.25em;
    }



.view-content
{
    background-color: #F1F1F1;
    padding:1.75em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

  .isotope-element {
  width: 340px;
  background-image: none;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px;
    background-color: white;
    box-shadow: 1px 1px 1px #ccc;
    
	.views-field-field-mission {
    color: #555;
    }
    
   .views-field-title{
   border:0;
   padding: 0 0px;
   margin-bottom:0.25em;
		a {
		color: #286fc9 !important;
		font-size:1.15em;
		}
   }
    
  }
  #isotope-options ul#filters li a.selected {
    background-color:#286fc9;
  }
  
  .views-field-field-logo img {
      width: auto;
    height: auto;
    margin: 0.5em;
    /* display: block; */
    float: right;
    }

}


