[class*=" node-type-"] {
  h2.page-header{
    text-transform: none;
  }
  /* première image des noeuds */
  .content .field-name-field-scald-image img{
    max-width: 47%;
    float: left;
    margin-right: 18px;
  }
}