.page-emissions h2.page-header:before, .node-type-radio-programme h2.page-header:before{
  .glyphicon();
  content: "\e808";
}

body.domain-radio-mda34-org
{
	.views-row-first{
	padding-bottom: 0;
	}

	.view-content{
  margin: 0 0px 0em;
	}
	
	.block-wrapper-custom  {
  padding: 0 0px;
  margin-bottom: 0;
	}
	
	.footer{
  margin-top: 0em;
}
	
	.view-radio-programmes {
  padding: 0 0px;
	}
	
	h3.block-title{
	color:white;
	}
	
}

body.domain-radio-mda34-org #home-main-container-wrapper{
  background-color: @gray-dark;
  h2.icon-radio{ /* Titre "écoutez votre radio" */
    color: white;
    background: transparent url(../images/ondes_radio.png) no-repeat 97% 50%;
    margin-bottom: 15px;
      margin-top: 5px;
        margin-left: 0.5em;
    &:before{
      font-size: 1em;
    }
  }
  .view-display-id-block_last_programme {/* Dernière émission */
    padding-left: 0;
    .view-content{
      background-color: white;
      div.field-item img{
        max-width: 293px;
        max-height: 293px;
        float: left;
        margin: 0 14px 0 0;
      }
      h3 a{
        margin-bottom: 0;
        border:0px;
        margin-right: 0.25em;
        text-transform: none;
        color :#222;
      }
      
      
      
      .field-name-field-record-date {
        color: @cyan-mda;
        display: block;
        min-height: 20px;
        font-size: 0.9em;
      }
      .field-type-date:after{
        clear: none;
      }
      .field-name-body{
        p{
          font-size: 1em;
        }
        margin-bottom: 0;
        height: 50px;
        overflow: hidden;
        position: relative;
        left: -13px;
      }
      .field-name-field-scald-audio{
        margin-bottom: 20px;
      }
    }
    
  }
  /* formulaire recherche et liste des émissions */
  #views-exposed-form-radio-programmes-programmes-list > div{
    border: 1px solid white;
    display: block;
    
    > div{
      background-color: @gray-ultra-light;
      margin: 14px 14px 14px 14px;
      padding: 10px 30px;
      display: block;
      clear: both;
      label{
        float: left;
        margin-right: 20px;
        margin-top: 8px;
        color: @blue-mda;
        font-family: @rockwellFamily;
      }
      .views-widget{
        float: left;
        margin-top: 0;
      }
      button{
        float: left;
        margin-top: 0;
        background-color: @blue-mda;
        text-transform: uppercase;
      }
    }
  } 
  /* liste des émissions en page d'accueil ************************************/
  .view-display-id-programmes_list  {
    .views-row{
      border-bottom: 0px solid @gray-lighter;
        padding: 0 1em 1.5em;
        margin: 0;
      display: block;
      &:after{
        content:"";
        display: block;
        clear: both;
      }
    
      h3{
        text-transform:none;
        }
      
      .field-name-field-radio-image img{
        float: left;
        margin-right: 15px;
      }
      .field-type-date{
        height: 20px;
        &:after{
          clear: none;
        }
      }
      .field-name-field-scald-audio{
        margin-top: 15px;
      }
    }
    
  }
  
  /* block "nous suivre" ******************************************************/
  .block-social-networks{
    margin-top: 0;
    .block-wrapper-custom{
      text-align: right;
      margin-top: 0;
      p{
        padding-top: 18px;
      }
    }
    h3{
      margin: 20px 0 20px 0;
      color: white;
      background-color: @gray-dark;
    }
  }
}

.block-wrapper-custom .view-radio-programmes h2>a {
  font-size: .6em;
  color: #000;
  text-transform: none;
}

.ds-1col.node.node-radio-programme.view-mode-last_item.clearfix {
  padding: 1em;
}


