.page-ressources h2.page-header:before, .node-type-resource h2.page-header:before{
  .glyphicon();
  content: "\e804";
}
.field-name-field-resource-date-parution .field-label:before{
  .glyphicon();
  content: "\e807";
}
.view-display-id-list_resources .field-name-field-resource-image{
  float: left;
  margin-right: 20px;
}
.group-link-resources{
  .clearfix();
  .field-items{
    float: left;
    margin-right: 20px;
    &:before {
      .glyphicon();
    }
    .field-item{
      display: inline;
    }
  }
  .field-name-field-resource-type .field-items:before{
    content: "\e804";
  }
  .field-name-post-date{ 
    /*padding-left: 30px;*/
    .field-items:before{
      /*content: "Publié le \e807 : ";*/
      content: "\e807";
      white-space: nowrap;
    }
  }
  .field-name-field-themes .field-items{
    &:before{
      content: "\e82a";
    }
    a:after{
      content: " - "
    }
  }
}
.domain-reseau-pro-mda34-org 
{
	.view-filters {
    border: 0px solid #999999;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 5px 15px 20px;
    background-color: #e9e9e9;
    }
    
    .btn-info {
    color: #fff;
  background-color: #575095;
    border-color: #ccc;
}

}

.node-type-resource{

.field.field-name-field-resource-files {
    margin: 1em 0;
    font-weight: bold;
      }
     
    div.node img.file-icon {
    margin: 0.15em 0.25em;
    }

	.field.field-name-field-themes {
    margin-bottom: 1em;
    }

  .sharethis-buttons{
    float: right;
    min-width: 270px;
    margin-bottom: 5px;
  }
  .field-name-body{
    clear: left;
    margin-top: 20px;
  }
  .group-practical-infos{
    float: right;
    margin-left: 1em;
    margin-bottom: 1.25em;
    margin-right: 5em;
    margin-top: 1.25em;
    min-width: 33%;
    @media print and (max-width:@screen-sm){
      width: 98%;
      float: none;
    }
  }
  .field-type-taxonomy-term-reference .field-item{
    float: left;
    margin-right: 15px;
  }

}

