.page-ressources h2.page-header:before, .node-type-resource h2.page-header:before{
  .glyphicon();
  content: "\e804";
}
.field-name-field-resource-date-parution .field-label:before{
  .glyphicon();
  content: "\e807";
}
.view-display-id-list_resources .field-name-field-resource-image{
  float: left;
  margin-right: 20px;
}
.group-link-resources{
  .clearfix();
  .field-items{
    float: left;
    margin-right: 20px;
    &:before {
      .glyphicon();
    }
    .field-item{
      display: inline;
    }
  }
  .field-name-field-resource-type .field-items:before{
    content: "\e804";
  }
  .field-name-post-date{ 
    /*padding-left: 30px;*/
    .field-items:before{
      /*content: "Publié le \e807 : ";*/
      content: "\e807";
      white-space: nowrap;
    }
  }
  .field-name-field-themes .field-items{
    &:before{
      content: "\e82a";
    }
    a:after{
      content: " - "
    }
  }
}
.node-type-resource{
  .sharethis-buttons{
    float: right;
    min-width: 240px;
    margin-bottom: 20px;
  }
  .field-name-body{
    clear: left;
    margin-top: 20px;
  }
  .group-practical-infos{
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    min-width: 33%;
    @media print and (max-width:@screen-sm){
      width: 98%;
      float: none;
    }
  }
  .field-type-taxonomy-term-reference .field-item{
    float: left;
    margin-right: 15px;
  }

}

